.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 85vw;
    justify-content: space-between;
}

body {
    background-color: rgba(212, 212, 221, 0.342);
    margin: 0px;
    padding: 0px;
}

body > #root {
    display: flex;
    justify-content: center;
}