.element {
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.element-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5vh;
    border-top: 0.5px solid rgba(0, 0, 0, 0.24);
}
.btn-with-margin {
    margin-right: 0.5vw;
} 
.element-button {
    background-color: #007bff;
    border-color: #007bff;
    color: white;  
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

.element-button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}