.element-info-cart {
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    border-radius: 15px;
    display: grid;
    grid-template-areas:
        'image description remove-button'
        'buttons _ all-items-price';
    justify-items: stretch;
    justify-content: space-between;
    padding: 25px;
}

.element-info-cart-description {
    grid-area: description;
    align-self: end;
    font-family: Serif;
}

.element-info-cart-image {
    grid-area: image;
}

.element-info-cart-image>img {
    padding: 15px 0 15px;
    height: 20vh;
}

.element-info-cart-title {}

.element-info-cart-remove-button {
    grid-area: remove-button;
    position: relative;
    align-self: start;
}

.element-info-cart-remove-button>img {
    cursor: pointer;
    min-height: 35px;
    height: 4vh;
    padding: 10px;
    filter: invert(55%) sepia(14%) saturate(23) hue-rotate(-48deg) brightness(118%) contrast(86%);
}

.element-info-cart-buttons {
    display: flex;
    grid-area: buttons;
    padding-bottom: 15px;
    align-items: center;
    justify-content: space-evenly;
}

.element-info-cart-circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: orange;
    min-width: 35px;
    min-height: 35px;
    width: 5vh;
    height: 5vh;
    cursor: pointer;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.element-info-cart-item-price {
    color: rgba(65, 65, 66, 0.555);
}

.element-info-cart-all-items-price {
    grid-area: all-items-price;
    padding-bottom: 15px;
}