#footer {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    border-radius: 10px 10px 0 0;
    padding: 3vh 3vw 3vh 3vw;
    margin-top: 10vh;
}

.anchors-menu {
    display: flex;
    flex-direction: column;
}

a {
    font-size: 3vh;
    text-decoration: none;
    color: rgb(73, 73, 73);
}

.company-name {
    font-family: Serif;
    font-weight: bold;
}

#info-and-languages-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mdeia-links-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    column-gap: 1vw;
}
.mdeia-links-bar > img {
    width: 3vw;
    height: 5vh;
}
#languages-bar{
    display: flex;
    justify-content: space-around;
}
#languages-bar > img {
    width: 3vw;
    height: 4vh;
}