#header {
    display: flex;
    justify-content: flex-start;
    padding: 1vw 0 4vw 0;
    flex-wrap: wrap;
}

.header-link {
    display: flex;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    padding: 0.5vw 1vw;
    margin: 0 1vw 0.5vw 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Serif;
    font-weight: bold;
    font-size: 3vh;
    background-color: white;
}

.header-link:hover {
    background-color: rgba(190, 255, 255, 0.562);
}

.active-header-link {
    background-color: #007bff;
    color: white;
}

.active-header-link:hover {
    background-color: #007bff;
}